/**********************************************************
  Add Google Fonts
**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&family=Roboto:ital@0;1');


/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.288) inset;
  background-color: var(--white);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 7rem;
}



html {
  font-size: 62.5%;
  /* Now 1rem = 1em = 10px */

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  overflow: hidden;
}


/**********************************************************
  Reset Default Properties End
**********************************************************/


/**************  Variables **************/
:root {
  --black: #000;
  --primaryColor: #ee0872;
  --lightGrey: #5e5151;
  --white: #fff;
  --lightPink: #ffb5b5;
  --font-family-1: 'poppins', sans-serif;
  --font-family-2: 'Roboto', sans-serif;
}


/**********************************************************
  Common Properties to Frequently Used Elements Start
**********************************************************/
body {
  background-color: var(--black);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: var(--font-family-2);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  padding: 1.1rem 2.1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  transition: all .3s linear;
}

input,
textarea {
  outline: none;
}

img {
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-1);
}

p {
  font-family: var(--font-family-2);
}

/**********************************************************
    Common Properties to Frequently Used Elements End
*********************************************************/


/***********************************************************************************************
  Actual Document Styling Start
***********************************************************************************************/




/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  width: 100vw;
  height: auto;
}


/**********************************************************
  Header Start
**********************************************************/


/**********************************************************
  Nav Start
**********************************************************/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 15rem;
  background-image: linear-gradient(var(--primaryColor) 22%, var(--black) 22%);
  position: relative;
}

/**********************************************************
  Toggle Button On Mobiles
**********************************************************/
.toggle-btn {
  color: var(--white);
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: none;
  color: var(--primaryColor);
}


/**********************************************************
  Logo Start
**********************************************************/
.logo-box {
  width: 25%;
  padding: .5rem 0;
  text-align: center;
  background-image: linear-gradient(var(--primaryColor) 50%, rgb(8, 8, 8) 50%);
  border-bottom: 1px solid var(--lightGrey);
}

.logo-box h2 {
  color: var(--white);
  font-size: 2.7rem;
  word-spacing: .8rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px var(--black);
  animation: move-left-right 2s linear infinite alternate;
}

/**********************************************************
  Nav Links Start
**********************************************************/
.nav-links {
  width: 60%;
  position: relative;
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-links ul li a {
  color: var(--lightGrey);
  font-family: var(--font-family-2);
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  position: relative;
  padding: 5px;
}

.nav-links ul li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--primaryColor);
  bottom: -5px;
  left: 0;
  transition: all .4s linear;

}

@media (hover:hover) {

  .nav-links ul li a:hover,
  .nav-links ul li:first-child a {
    color: var(--white);
  }

  .nav-links ul li a:hover::after,
  .nav-links ul li:first-child a::after {
    width: 100%;
    color: var(--white);
  }

}

/**********************************************************
  Nav End
**********************************************************/


/**********************************************************
  Hero Section Start
**********************************************************/
#hero-section {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, var(--primaryColor) 25%, var(--black) 20%);
  min-height: calc(100vh - 15rem);
}

/**********************************************************
  Hero Left
**********************************************************/
.hero-inner-left {
  flex-basis: 50%;
  color: var(--white);
  padding-left: 25rem;
  padding-top: 12rem;
}

.hero-inner-left h2 {
  font-size: 3.2rem;
  letter-spacing: 2px;
}

.hero-inner-left h1 {
  font-size: 5rem;
  margin: 3rem 0 1.5rem 0;
  letter-spacing: 1.5px;
  word-spacing: 8px;
}

.hero-inner-left h3 {
  letter-spacing: 1.5px;
  font-size: 2rem;
}

.hero-inner-left .hero-section-buttons button {
  margin-top: 3rem;
  margin-right: 2.5rem;
}

/**********************************************************
  Hero Right
**********************************************************/
.hero-inner-right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-inner-right figure {
  width: 38rem;
  border: 3rem groove var(--primaryColor);
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  transform: all .5s linear;
  background-color: var(--lightPink);
  padding-top: 2rem;
}

.hero-inner-right figure img {
  width: 100%;
}

/**********************************************************
  Social Media Icons
**********************************************************/
.social-media-icons {
  margin-right: 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.social-media-icons a {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background-color: var(--primaryColor);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2rem;
  transition: all .3s linear;
}

@media (hover:hover) {
  .social-media-icons a:hover {
    background-color: var(--white);
    color: var(--black);
  }
}

/**********************************************************
  Hero Section End
**********************************************************/


/********************** Classes That Triggered Using Js ****************/




/**********************************************************
  Keyframes For Animations Start
**********************************************************/

/**********************************************************
  Keyframes For Move Logo
**********************************************************/
@keyframes move-left-right {
  from {
    padding-left: 5rem;
  }

  to {
    padding-right: 5rem;
  }
}



/**********************************************************
  Keyframes For Animations End
**********************************************************/



/***********************************************************************************************
  Actual Document Styling End
***********************************************************************************************/