/**********************************************************
     Utility Classes Start
**********************************************************/

.primary-color-text {
    color: var(--primaryColor);
    text-shadow: 1px 1px 2px black;
    font-size: 6.5rem;
}

.primary-btn {
    color: var(--white);
    border: 3px solid var(--white);
    background-color: transparent;
}

.secondary-btn {
    color: var(--black);
    border: 3px solid var(--white);
    background-color: var(--white);
}

@media (hover:hover) {
    .primary-btn:hover {
        color: var(--black);
        background-color: white;
    }

    .secondary-btn:hover {
        color: var(--white);
        background-color: transparent;
    }
}

/**********************************************************
     Utility Classes End
**********************************************************/